.principalSetup {
  min-height: calc(100vh - 56px - 61px);
  color: white;
  width: 70%;
  margin: auto;
  padding-top: 60px;
  > h3 {
    margin-top: 30px;
  }
  > hr {
    width: 30%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(19, 19, 19);
  }
  .bigSetup {
    margin: auto;
    margin-top: 30px;
    width: 90%;
    border: 3px solid white;
    border-radius: 5px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      
    }
  }
  .imagenesSetup {
    margin: auto;
    margin-top: 30px;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    a {
      text-decoration: none;
      color: white;
    }
    .oneImageMarco {
      display: flex;
      flex-direction: column;
      align-items: space-between;
      justify-content: center;
      margin: auto;
      width: 250px;
      height: 390px;
      border: 2px solid rgba(54, 54, 54, 0.418);
      overflow: hidden;
      padding-top: 7px;
      margin-top: 20px;
      position: relative;
      a {
        padding: 5px;
        width: 100%;
        height: 80%;
      }
      p {
        font-size: 14px !important;
        color: rgb(150, 150, 150);
      }
      img {
        padding: 20px;
        width: 100%;
        height: 80%;
        object-fit: contain;
        object-position: center;
      }
      .delete {
        position: absolute;
        filter: invert(1);
        width: 20px;
        height: 30px;
        padding: 0px;
        bottom: 10px;
        right: 10px;
      }
      .delete:hover {
        filter: brightness(0.2);
        z-index: 1;
      }
    }
    .oneImageMarco:hover {
      background-color: rgb(99, 99, 99);
      cursor: pointer;
      border: 2px solid white;
    }
  }
}

.addWp{
  width: 60px;
  // background-color: rgb(80, 80, 80);
  color: white;
  margin: auto;
  margin-top: 30px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgb(99, 99, 99);
  >img{
    width: 35%;
    height: 35%;
    font-weight: 800;
    filter: invert(0.5);
  }
}
.addWp:hover{
  background-color: rgb(99, 99, 99);
  cursor: pointer;
  >img{
    filter:invert(0.7);
  }
}
@media (max-width: 1200px) {
  .principalSetup {
    width: 90%;
    .bigSetup {
      width: 100%;
    }
    .imagenesSetup {
      width: 100%;
    }
  }
}
