.inputsNewArticle{

    color: white;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    input, select{
        width: 80%;
        border-radius: 5px;
        border: 1px solid gray;
    }
    .inputFile{
        
        border: 0px;
        border-radius: 0px;
        
    }
}
.error{
    color: red;
}
.logoModal{
    width: 60px;
}
.headerModal{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.buttonModal2{
    border: 1px solid white !important;
    background-color: purple;
}
.buttonModal2:hover{
    
    background-color: green;
}
