.principalWz2 {
  min-height: calc(100vh - 56px - 61px);
  h2 {
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  h6 {
    color: gray;
    margin-bottom: 20px;
  }
  >hr{
    width: 30%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(19, 19, 19);
  }
  .contentNavs {
    margin: auto;
    display: flex;
    width: 90%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    .weaponsNav1 {
      width: 45%;
      min-width: 290px;
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      Button {
        width: 100px;
        padding: 2px;
        height: 30px;
        background-color: purple;
        border: 1px solid rgb(255, 255, 255) !important;
      }
      Button:hover {
        border: 1px solid rgb(255, 255, 255) !important;
        background-color: rgb(131, 80, 131);
      }
    }
    .weaponsNav2 {
      width: 50%;
      display: flex;
      width: 45%;
      min-width: 290px;
      justify-content: flex-start;
      gap: 10px;
      Button {
        width: 100px;
        height: 30px;
        padding: 2px;
        border: 1px solid rgb(255, 255, 255) !important;
        background-color: purple;
      }
      Button:hover {
        border: 1px solid rgb(255, 255, 255) !important;
        background-color: rgb(131, 80, 131);
      }
    }
    #selected {
      background-color: green !important;
      border: 1px solid rgb(255, 255, 255) !important;
    }
  }
  .addWeapon {
    border: 1px solid white;
    background-color: purple;
    margin-top: 30px;
  }
  .addWeapon:hover {
    background-color: rgb(131, 80, 131);
  }
  .cardsContainer{
    margin: auto;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .weaponCard{
      width: 40%;
      min-width: 290px;
      color: white;
      overflow: hidden;
      margin-top: 30px;
      border-radius: 5px;
      overflow: hidden;
      background-image: url("../../../../public/images/fondo-patron.webp");
      background-position: center;
      background-size: contain;
      
      >div{
        display: flex;
        justify-content: space-evenly;
        border-bottom: 1px solid gray;
        p{
          margin: 7px;
          font-weight: bold;
          
        }
      }
      img{
        width: 100%;
        height: auto;
        object-fit: contain;
        object-position: center;
      }
  
    }
    .SMG{
      border: 2px solid white;
    }
    .BR{
      border: 2px solid rgb(226, 75, 75);
    }
    .AR{
      border: 2px solid green;
    }
    .Pistola{
      border: 2px solid rgb(56, 68, 230);
    }
    .TR{
      border: 2px solid rgb(231, 218, 32);
    }
    .LMG{
      border: 2px solid purple;
    }
    .SR{
      border: 2px solid rgb(83, 83, 83);
    }
    .SG{
      border: 2px solid rgb(112, 0, 0);
    }
  }
}
