.containerNav {
  justify-content: space-between;
  gap: 50px;
  
  img {
    width: 70px;
    margin: -20px -10px;
    filter: drop-shadow(0 0 0.2rem rgb(117, 117, 117));
  }
  .session {
    display: flex;
    gap:10px;
    align-items: center;
    cursor: pointer;
    Button{
        padding: 4px !important;
        height: fit-content;
    }
    .loggedImg {
      width: 40px;
      height: 40px;
      margin: 0px;
    }
  }  
}

.navbar{
  backdrop-filter: blur(4px); /* Aplica el desenfoque */
  background-color: rgba(0, 0, 0, 0.404) !important;
}

@media (max-width: 991px) {
  nav{
    width: 100vw;
  }
  .toggleBg{
    display: none !important;
  }
  .session{
    display: none !important;
  }
  .navbar{
    background-color: rgba(0, 0, 0, 0.501) !important;
    text-align: end;
    .nav-link{
    color: white;
      font-size: 18px;
      font-weight: bolder;
    }
  }
}

@media (min-width: 992px) {
 
  .toggleMenu{
    display: none !important;
  }
}