.containerNav {
  justify-content: space-between;
  gap: 50px;
  
  img {
    width: 70px;
    margin: -20px -10px;
    filter: drop-shadow(0 0 0.2rem rgb(117, 117, 117));
  }
  .session {
    display: flex;
    gap:10px;
    align-items: center;
    Button{
        padding: 4px !important;
        height: fit-content;
    }
    .loggedImg {
      width: 40px;
      height: 40px;
      margin: 0px;
    }
  }


  
}
